/themes/twentyfifteen/
/themes/twentyfourteen/
/themes/twentysixteen/
/themes/index.php
/uploads/
/plugins/akismet/
/plugins/show-current-template/
/plugins/wordpress-importer/
/plugins/hello.php
/plugins/index.php
